.CardCollection {
    width: 446px;
    height: 396px;
}

.nbr_recipes {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

// .p_collection {
//     font-size: 30px;
// }